<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>WEI一教育</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="/favicon.ico">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="/assets/css/sm.min.css">
	<link rel="stylesheet" href="/assets/css/sm-extend.min.css">
	<script>
		(function browserRedirect(){
			var sUserAgent = navigator.userAgent.toLowerCase();
			var bIsIpad = sUserAgent.match(/ipad/i) == 'ipad';
			var bIsIphone = sUserAgent.match(/iphone os/i) == 'iphone os';
			var bIsMidp = sUserAgent.match(/midp/i) == 'midp';
			var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == 'rv:1.2.3.4';
			var bIsUc = sUserAgent.match(/ucweb/i) == 'web';
			var bIsCE = sUserAgent.match(/windows ce/i) == 'windows ce';
			var bIsWM = sUserAgent.match(/windows mobile/i) == 'windows mobile';
			var bIsAndroid = sUserAgent.match(/android/i) == 'android';
			if(bIsIpad || bIsIphone || bIsMidp || bIsUc7 || bIsUc || bIsCE || bIsWM || bIsAndroid ){

			}else{
				window.location.href = '/web/index';
			}
		})();
	</script>
	<style>
		img {
			border: 0;
			width: 100%;
		}
	</style>
</head>
<body>
<div class="page-group">
	<div class="page">
		<header class="bar bar-nav">
			<h1 class="title">WEI一教育</h1>
		</header>
		<nav class="bar bar-tab">
			<a class="tab-item active" href="#">
				<span class="icon icon-home"></span>
				<span class="tab-label">首页</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon icon-computer"></span>
				<span class="tab-label">课程</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon icon-friends"></span>
				<span class="tab-label">师资</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon icon-star"></span>
				<span class="tab-label">资料</span>
			</a>
			<a class="tab-item" href="#">
				<span class="icon icon-me"></span>
				<span class="tab-label">我的</span>
			</a>
		</nav>
		<div class="content">
			<!-- Slider -->
			<div class="swiper-container" data-space-between='10'>
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
					<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
					<div class="swiper-slide"><img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</div>

<script src='http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js'></script>
<script src='/assets/js/sm.js'></script>
<script src='/assets/js/sm-extend.js'></script>
<script>
	$(function() {
		$(".swiper-container").swiper(config);
	});
</script>
</body>
</html>
