<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>WEI一教育</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="/favicon.ico">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="/assets/css/sm.min.css">
	<link rel="stylesheet" href="/assets/css/sm-extend.min.css">
	<link rel="stylesheet" href="/assets/css/menudown.css">
	<script>
		(function browserRedirect(){
			var sUserAgent = navigator.userAgent.toLowerCase();
			var bIsIpad = sUserAgent.match(/ipad/i) == 'ipad';
			var bIsIphone = sUserAgent.match(/iphone os/i) == 'iphone os';
			var bIsMidp = sUserAgent.match(/midp/i) == 'midp';
			var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == 'rv:1.2.3.4';
			var bIsUc = sUserAgent.match(/ucweb/i) == 'web';
			var bIsCE = sUserAgent.match(/windows ce/i) == 'windows ce';
			var bIsWM = sUserAgent.match(/windows mobile/i) == 'windows mobile';
			var bIsAndroid = sUserAgent.match(/android/i) == 'android';
			if(bIsIpad || bIsIphone || bIsMidp || bIsUc7 || bIsUc || bIsCE || bIsWM || bIsAndroid ){

			}else{
				window.location.href = '/web/index';
			}
		})();
	</script>
	<style>
		.card {
			background: #fff;
			box-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.3);
			/* margin: .5rem; */
			margin-bottom: .5rem;
			position: relative;
			border-radius: .1rem;
			font-size: .7rem;
		}
		.infoselect{ border:none; background:#FFFFFF;    height: 25px;text-align: center;}
		.info{ margin:5px; text-align:center;}
	</style>
</head>
<body>
<div class="page-group">
	<div class="page">
		<header class="bar bar-nav">
			<h1 class="title">WEI一教育</h1>
		</header>
		<nav class="bar bar-tab">
			<a class="tab-item external" href="/web/h5/index">
				<span class="icon icon-home"></span>
				<span class="tab-label">首页</span>
			</a>
			<a class="tab-item external" href="#">
				<span class="icon icon-computer"></span>
				<span class="tab-label">课程</span>
			</a>
			<a class="tab-item external" href="/web/h5/star-teacher">
				<span class="icon icon-friends"></span>
				<span class="tab-label">师资</span>
			</a>
			<a class="tab-item external active" href="/web/h5/reference-room">
				<span class="icon icon-star"></span>
				<span class="tab-label">资料</span>
			</a>
			<a class="tab-item external" href="#">
				<span class="icon icon-me"></span>
				<span class="tab-label">我的</span>
			</a>
		</nav>
		<div class="content">
			<dl class="topmenu">
				<dt>
					<div class="selectlist">
						<div class="select_textdiv">
							<input type="hidden" value=""/>
							<p class="s_text">地区</p><span class="down"><img src="/assets/img/down.png"></span>
						</div>
						<div class="select_textul">
							<ul class="select_first_ul">
								<li onclick="querySchool('10')">中国</li>
								<li onclick="querySchool('11')">北京</li>
								<li onclick="querySchool('12')">天津</li>
								<li onclick="querySchool('13')">河北</li>
								<li onclick="querySchool('14')">山西</li>
								<li onclick="querySchool('15')">内蒙古</li>
								<li onclick="querySchool('21')">辽宁</li>
								<li onclick="querySchool('22')">吉林</li>
								<li onclick="querySchool('23')">黑龙江</li>
								<li onclick="querySchool('31')">上海</li>
								<li onclick="querySchool('32')">江苏</li>
								<li onclick="querySchool('33')">浙江</li>
								<li onclick="querySchool('34')">安徽</li>
								<li onclick="querySchool('35')">福建</li>
								<li onclick="querySchool('36')">江西</li>
								<li onclick="querySchool('37')">山东</li>
								<li onclick="querySchool('41')">河南</li>
								<li onclick="querySchool('42')">湖北</li>
								<li onclick="querySchool('43')">湖南</li>
								<li onclick="querySchool('44')">广东</li>
								<li onclick="querySchool('45')">广西</li>
								<li onclick="querySchool('46')">海南</li>
								<li onclick="querySchool('50')">重庆</li>
								<li onclick="querySchool('51')">四川</li>
								<li onclick="querySchool('52')">贵州</li>
								<li onclick="querySchool('53')">云南</li>
								<li onclick="querySchool('54')">西藏</li>
								<li onclick="querySchool('61')">陕西</li>
								<li onclick="querySchool('62')">甘肃</li>
								<li onclick="querySchool('63')">青海</li>
								<li onclick="querySchool('64')">宁夏</li>
								<li onclick="querySchool('65')">新疆</li>
							</ul>
						</div>
					</div>
				</dt>
				<dt>
					<div class="selectlist">
						<div class="select_textdiv">
							<input type="hidden" value=""/>
							<p class="s_text">学校/组织</p><span class="down"><img src="/assets/img/down.png"></span>
						</div>
						<div class="select_textul">
							<ul class="select_first_ul" id="Sort-Sort">

							</ul>
						</div>
					</div>
				</dt>
				<dt>
					<div class="selectlist">
						<div class="select_textdiv">
							<input type="hidden" value=""/>
							<p class="s_text">专业</p><span class="down"><img src="/assets/img/down.png"></span>
						</div>
						<div class="select_textul">
							<ul class="select_first_ul">

							</ul>
						</div>
					</div>
				</dt>
			</dl>
		</div>
	</div>
</div>

<script src='http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js'></script>
<script src='/assets/js/sm.js'></script>
<script src='/assets/js/sm-extend.js'></script>
<script src="/assets/js/base.js"></script>
<script src="/assets/js/menudown.js"></script>
<script>
	// initProvince();
	//初始化省份数据
	function initProvince(){
		var menu_data=[{"code":"34","name":"安徽","pcode":"0"},{"code":"3401","name":"合肥","pcode":"34"},{"code":"340101","name":"中国科技大学","pcode":"3401"}];
		//筛选level=1的对象
		var menu_node1 = menu_data.filter(function (e) { return e.pcode == 0; });
		//遍历结果对象
		for (var i = 0; i < menu_node1.length; i++) {
			console.log(menu_node1[i].name);
		}
	}

	function querySchool(pcode) {
		var menu_data=[{"code":"34","name":"安徽","pcode":"0"},{"code":"3401","name":"合肥","pcode":"34"},{"code":"340101","name":"中国科技大学","pcode":"3401"}];
		//筛选level=1的对象
		var menu_node1 = menu_data.filter(function (e) { return e.pcode == pcode; });
		//遍历结果对象
		var schoolStr = "";
		$("#Sort-Sort").html("");
		for (var i = 0; i < menu_node1.length; i++) {
			console.log(menu_node1[i].name);
			schoolStr = schoolStr + "<li onclick=\"Categorytw(this)\">"+menu_node1[i].name +"</li>";
		}
		alert(schoolStr);
		$("#Sort-Sort").html(schoolStr);
	}
</script>
</body>
</html>
