<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>WEI一教育</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="/favicon.ico">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="/assets/css/sm.min.css">
	<link rel="stylesheet" href="/assets/css/sm-extend.min.css">
	<script>
		(function browserRedirect(){
			var sUserAgent = navigator.userAgent.toLowerCase();
			var bIsIpad = sUserAgent.match(/ipad/i) == 'ipad';
			var bIsIphone = sUserAgent.match(/iphone os/i) == 'iphone os';
			var bIsMidp = sUserAgent.match(/midp/i) == 'midp';
			var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == 'rv:1.2.3.4';
			var bIsUc = sUserAgent.match(/ucweb/i) == 'web';
			var bIsCE = sUserAgent.match(/windows ce/i) == 'windows ce';
			var bIsWM = sUserAgent.match(/windows mobile/i) == 'windows mobile';
			var bIsAndroid = sUserAgent.match(/android/i) == 'android';
			if(bIsIpad || bIsIphone || bIsMidp || bIsUc7 || bIsUc || bIsCE || bIsWM || bIsAndroid ){

			}else{
				window.location.href = '/web/index';
			}
		})();
	</script>
	<style>
		.card {
			background: #fff;
			box-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.3);
			/* margin: .5rem; */
			margin-bottom: .5rem;
			position: relative;
			border-radius: .1rem;
			font-size: .7rem;
		}
		.infoselect{ border:none; background:#FFFFFF;    height: 25px;text-align: center;}
		.info{ margin:5px; text-align:center;}
	</style>
</head>
<body>
<div class="page-group">
	<div class="page">
		<header class="bar bar-nav">
			<h1 class="title">WEI一教育</h1>
		</header>
		<nav class="bar bar-tab">
			<a class="tab-item external" href="/web/h5/index">
				<span class="icon icon-home"></span>
				<span class="tab-label">首页</span>
			</a>
			<a class="tab-item external" href="#">
				<span class="icon icon-computer"></span>
				<span class="tab-label">课程</span>
			</a>
			<a class="tab-item external" href="/web/h5/star-teacher">
				<span class="icon icon-friends"></span>
				<span class="tab-label">师资</span>
			</a>
			<a class="tab-item external active" href="/web/h5/reference-room">
				<span class="icon icon-star"></span>
				<span class="tab-label">资料</span>
			</a>
			<a class="tab-item external" href="#">
				<span class="icon icon-me"></span>
				<span class="tab-label">我的</span>
			</a>
		</nav>
		<div class="content">
			<div class="page-index">
				<div class="card demo-card-header-pic">
					<div valign="bottom" class="card-header color-white no-border no-padding">
						<img style="width: 50%;" class='card-cover' src="/assets/images/kaoyan.png" alt="">
						<img style="width: 50%;" class='card-cover' src="/assets/images/MBA.png" alt="">
					</div>
					<div valign="bottom" class="card-header color-white no-border no-padding">
						<img style="width: 50%;" class='card-cover' src="/assets/images/MBA.png" alt="">
						<img style="width: 50%;" class='card-cover' src="/assets/images/kaoyan.png" alt="">
					</div>
					<div valign="bottom" class="card-header color-white no-border no-padding">
						<img style="width: 50%;" class='card-cover' src="/assets/images/kaoyan.png" alt="">
						<img style="width: 50%;" class='card-cover' src="/assets/images/MBA.png" alt="">
					</div>
					<div valign="bottom" class="card-header color-white no-border no-padding">
						<img style="width: 50%;" class='card-cover' src="/assets/images/MBA.png" alt="">
						<img style="width: 50%;" class='card-cover' src="/assets/images/kaoyan.png" alt="">
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script src='http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js'></script>
<script src='/assets/js/sm.js'></script>
<script src='/assets/js/sm-extend.js'></script>
<script src="/assets/js/base.js"></script>
<script src="/assets/js/menudown.js"></script>
<script>
	// initProvince();
	//初始化省份数据
	function initProvince(){
		var menu_data=[{"code":"34","name":"安徽","pcode":"0"},{"code":"3401","name":"合肥","pcode":"34"},{"code":"340101","name":"中国科技大学","pcode":"3401"}];
		//筛选level=1的对象
		var menu_node1 = menu_data.filter(function (e) { return e.pcode == 0; });
		//遍历结果对象
		for (var i = 0; i < menu_node1.length; i++) {
			console.log(menu_node1[i].name);
		}
	}

	function querySchool(pcode) {
		var menu_data=[{"code":"34","name":"安徽","pcode":"0"},{"code":"3401","name":"合肥","pcode":"34"},{"code":"340101","name":"中国科技大学","pcode":"3401"}];
		//筛选level=1的对象
		var menu_node1 = menu_data.filter(function (e) { return e.pcode == pcode; });
		//遍历结果对象
		var schoolStr = "";
		$("#Sort-Sort").html("");
		for (var i = 0; i < menu_node1.length; i++) {
			console.log(menu_node1[i].name);
			schoolStr = schoolStr + "<li onclick=\"Categorytw(this)\">"+menu_node1[i].name +"</li>";
		}
		alert(schoolStr);
		$("#Sort-Sort").html(schoolStr);
	}
	initData();
	function initData(){
		var url = "/web/h5/reference-list";
		$.ajax({
			type: "POST",
			url: url,
			data: {},
			dataType: "json",
			contentType: 'application/json;charset=utf-8',
			success: function(data){
				console.log('CustRelationStock-data',data);
			},
			error: function (data) {
				console.log('ajax error handling',data);
			}
		})
	}
</script>
</body>
</html>
