<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pangmutou.education.mapper.BannerMapper">

    <!-- 关联查询sql -->
    <sql id="relSelect">
        SELECT a.*
        FROM crm_banner a
        <where>
            <if test="page!=null and page.pageData!=null">
				<if test="page.pageData.id != null">
					AND a.id = #{page.pageData.id}
				</if>
				<if test="page.pageData.title != null">
                    AND a.title LIKE CONCAT('%', #{page.pageData.title}, '%')
				</if>
				<if test="page.pageData.imageUrl != null">
                    AND a.image_url LIKE CONCAT('%', #{page.pageData.imageUrl}, '%')
				</if>
				<if test="page.pageData.linkUrl != null">
                    AND a.link_url LIKE CONCAT('%', #{page.pageData.linkUrl}, '%')
				</if>
				<if test="page.pageData.sort != null">
					AND a.sort = #{page.pageData.sort}
                </if>
				<if test="page.pageData.isDeleted != null">
                    AND a.is_deleted LIKE CONCAT('%', #{page.pageData.isDeleted}, '%')
				</if>
				<if test="page.pageData.gmtCreate != null">
                    AND a.gmt_create LIKE CONCAT('%', #{page.pageData.gmtCreate}, '%')
				</if>
				<if test="page.pageData.gmtModified != null">
                    AND a.gmt_modified LIKE CONCAT('%', #{page.pageData.gmtModified}, '%')
				</if>
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="listPage" resultType="com.pangmutou.education.entity.Banner">
        <include refid="relSelect"></include>
    </select>

    <!-- 查询全部 -->
    <select id="listAll" resultType="com.pangmutou.education.entity.Banner">
        <include refid="relSelect"></include>
    </select>

</mapper>
